<!DOCTYPE html>
<html>
<head>
    <title>Self Appraisal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  {% load static %}

<link href="{% static 'CSS/css.css' %}" rel="stylesheet">
</head>
<body>



<!-- Vertical navbar -->
<div class="vertical-nav bg-white" id="sidebar">
  <div class="py-4 px-3 mb-4 bg-light">
    <div class="media d-flex align-items-center">

      <div class="media-body">
        <h4 class="m-0">{{ user.First_name }}</h4>
        <p class="font-weight-normal text-muted mb-0">{{ user.Designation }}</p>
      </div>
    </div>
  </div>

  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Employee Dashboard</p>


  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a href="{% url 'employeehome' %}" class="nav-link text-dark">

                Home
            </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'employee_profile' %}" class="nav-link text-dark">

                My Profile
            </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'kpi' %}" class="nav-link text-dark">

                kpi
            </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'periodicreview' %}" class="nav-link text-dark">

                periodic review
            </a>
    </li>
  </ul>

  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a href="{% url 'self_appraisal' %}" class="nav-link text-dark">

                self appraisal
            </a>
    </li>


     <li class="nav-item">
      <a href="{% url 'logout_view' %}" class="nav-link text-dark">

                Log out
            </a>
    </li>
  </ul>
</div>
<!-- End vertical navbar -->


<!-- Page content holder -->
<div class="page-content p-5" id="content">
 {% for message in messages  %}
      <div class="alert-message">
  <span class="closebtn-message" onclick="this.parentElement.style.display='none';">&times;</span>
  {{message}}
</div>
      {% endfor %}
  <!-- Toggle button -->
        <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i
                class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Toggle</small></button>



<section>
  <section class="vh-100" style="background-color: #2779e2; height:80vh!important;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-9">

        <h1 class="text-white mb-4">Apply for a Self Appraisal</h1>
        <form action="/make_appraisal/" method="post" >
        {% csrf_token %}
        <div class="card" style="border-radius: 15px;">
          <div class="card-body">

            <div class="row align-items-center pt-4 pb-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Sending By</h6>

              </div>
              <div class="col-md-9 pe-5">

                <input type="text" name="sender" value="{{ sending_by }}" class="form-control form-control-lg"
                readonly/>

              </div>
            </div>

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Sending to</h6>

              </div>
              <div class="col-md-9 pe-5">

                <input type="email" value="{{ sending_to }}" class="form-control form-control-lg"
                name="receiver"
                readonly/>

              </div>
            </div>

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Message</h6>

              </div>
              <div class="col-md-9 pe-5">

                <textarea class="form-control" rows="3" name="message" placeholder="Message sent to the manager">
                </textarea>

              </div>
            </div>

            <hr class="mx-n3">




            <div class="px-5 py-4">
              <button type="submit" class="btn btn-primary btn-lg">Send application</button>
            </div>

          </div>
        </div>
        </form>

      </div>
    </div>
  </div>
</section>

</section>
<footer class="bg-light text-center text-lg-start" style="position: fixed;left: 0;bottom: 0;width: 100%;">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: white;">
    © 2020 Copyright<br>Developed by Harshit Singh
    <a class="text-dark" href="mailto: harshit25102000@gmail.com">harshit25102000@gmail.com</a>
  </div>
  <!-- Copyright -->
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="main.js"></script>
<script>
    $(function() {
    $('#sidebarCollapse').on('click', function() {
      $('#sidebar, #content').toggleClass('active');
    });
  });


</script>
</body>
</html>

